footer {
    background-color: #f0f2f4;
    color: #333;
}

nav {
    background-color: #000;
}

nav a {
    padding: 0.5em 0 0.5em 1em;
    font-size: 1.2em;
    color: #ccc;
    text-decoration: none;
    display: inline-block;
}

.current {
    color: #fff
}