---
site:
  canonical_url: https://mmap.page
  repo: weakish/weakish.github.com
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title | default('mmap.page') }}</title>
    <link rel="canonical" href="{{ site.canonical_url }}{{ url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown-light.css" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/@microflash/rehype-starry-night@2.1.1/index.css">
    <style>
      /* rehype-starry-night/index.css assumes dark theme. */
      /* This is a workaround for light theme. */
      .highlight {
        --highlight-code-highlight: #fff8c5;
        background-color: white;
        border-radius: 0;
      }
      .highlight-language {
        background-color: #f4f4f4;
      }

      /* GitHub width and padding */
      /* suggested by github-markdown.css README */
      .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding: 45px;
      }

      @media(max-width: 767px) {
        .markdown-body {
          padding: 15px;
        }
      }

      /* Inspired by gnu.org */
      footer {
        font-size: 0.875em;
        padding: 1.5em 3%;
        color: #333;
        background: #f4f4f4;
        margin-top: 3em;
      }
    </style>
    <link
      rel="alternate"
      type="application/rss+xml"
      href="{{ location }}/rss.xml">
    <link
      rel="alternate"
      type="application/feed+json"
      href="{{ location }}/feed.json">
    <link
      rel="alternate"
      type="application/git+http"
      href="https://github.com/{{ site.repo }}.git">
  </head>
  <body>
    <header>
      <a href="{{ location }}/">mmap.page</a>
      {% if removal %}
        <h1>RM: {{ removal }}</h1>
        <p>
          This page is <strong>marked for removal</strong>.
          If you want to maintain and update it, please open a pull request. 
        </p>
      {% endif %}
      {% if wnp %}
        <h1>{{wnp.type}}: {{wnp.description}}</h1>
        <p>
          This is a Work-Needing and Prospective Page.
          If you wish to take over the maintenance, please open an issue or send a pull request.
        </p>
        <p>Prefix:</p>
        <dl>
          <dt><strong>O</strong>rphaned</dt>
          <dd>No one is maintaining this page.</dd>
          <dt><strong>R</strong>equest <strong>F</strong>or <strong>A</strong>doption</dt>
          <dd>The page is maintained but up for adoption.</dd>
          <dt><strong>R</strong>equest</strong> <strong>F</strong>or <strong>H</strong>elp</dt>
          <dd>The page is maintained but needs help.</dd>
        </dl>
      {% endif %}
    </header>
    <article class="markdown-body">
      {{ content | safe }}
    </article>
    <footer>
      <p>
        Permission to use, copy, modify, and/or distribute this site for any purpose with or without fee is hereby granted.
        This site is provided "as is" without express or implied warranty.
      </p>
      <p>
        This site does not use cookies or tracking codes.
        Except for the <a href="/search/">search</a> page, this site does not use JavaScript.
        Be aware that tracking codes can be implemented
        <a href="https://github.com/OliverBrotchie/CSS-Fingerprint">with CSS only</a>
        without any JavaScript.
        I am unaware of any third party CSS file used by this site implements this style of tracking.
        Please submit
        <a href="https://github.com/{{ site.repo }}/issues">an issue or a pull request</a> if you spot any.
      </p>
      <p>
        Site source is
        <a href="https://github.com/{{ site.repo }}/">available</a>
        and feedback is
        <a href="https://github.com/{{ site.repo }}/issues">welcome</a>.
      </p>
      <p>
        Powered by <a href="https://lume.land" title="static site generator">lume</a>
        and hosted on <a href="https://www.netlify.com">Netlify</a>.
      </p>
    </footer>
  </body>
</html>
