<footer>
  <small>
    <a href="https://github.com/weakish/weakish.github.com">Website source</a> |
    {% comment %}
      Hard-coded since there are only one page. If we have more pages, we
      may set `url` in `_config.yaml` and use
          {{ site.url | url_encode }}
      We will not use `/check?uri=referer` since browsers may strip
      information in `referer` header.
    {% endcomment %}
    <a href="https://validator.w3.org/check?uri=https%3A%2F%2Fweakish.github.io">
      Valid HTML5</a> |
    Viewable with <a href="https://www.anybrowser.org/campaign/">
      any browser,</a>
      including <a href="https://www.mozilla.org/firefox/">Firefox</a>,
      <a href="https://www.chromium.org/">Chromium</a>,
      and <a href="https://sourceforge.net/projects/w3m/">w3m</a>.
  </small>
  <div id="qr-url" style="position: absolute; top: 0px; right: 0px;">
    {% comment %}
      We use hard-coded qr.png since we have only one page now. If we
      have more pages, we may use http://goqr.me/api/doc/ to generate
      qr code instead.

      Wrapping `img` into `p` for `w3m`.
      `display: inline` for other browsers understanding CSS.
    {% endcomment %}
    <p style="display: inline;">
      <img src="/qr.png" alt="QR code of url" title="QR code of url"/>
    </p>
  </div>
</footer>
