<footer>
  <small>
    <a href="/16XMwj6YRNqRHWbmSD8oxYUZCKfM1uzwP9/git/">Website source</a> |
    {% comment %}
      Hard-coded since there are only one page. If we have more pages, we
      may set `url` in `_config.yaml` and use
          {{ site.url | url_encode }}
      We will not use `/check?uri=referer` since browsers may strip
      information in `referer` header.
    {% endcomment %}
    <a href="https://validator.w3.org/check?uri=https%3A%2F%2Fweakish.github.io">
      Valid HTML5</a>
  </small>
  </div>
</footer>
