<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8" />
<title>template</title>

<link rel="icon" href="../../../favicon.ico" type="image/x-icon" />

<link rel="stylesheet" href="../../../style.css" type="text/css" />

<link rel="stylesheet" href="../../../local.css" type="text/css" />



<link rel="vcs-mercurial" href="https://weakish@bitbucket.org/weakish/weakish" title="wiki mercurial repository" />
<meta name="robots" content="noindex, follow" />
</head>
<body>

<article class="page">

<section class="pageheader">
<header class="header">
<span>
<span class="parentlinks">

<a href="../../../">weakish</a>/ 

<a href="../../">ikiwiki</a>/ 

<a href="../">directive</a>/ 

</span>
<span class="title">
template

</span>
</span>


<form method="get" action="http://www.google.com/search" id="searchform">
 <div>
  <input name="sitesearch" value="http://weakish.github.com/" type="hidden" />
  <input name="q" value="" id="searchbox" size="16" maxlength="255" type="text"
  placeholder="search" />
 </div>
</form>


</header>





</section>



<div id="pagebody">

<section id="content">
<p>The <code>template</code> directive is supplied by the <a href="http://ikiwiki.info/plugins/template/">template</a> plugin.</p>

<p>The template directive allows wiki pages to be used as templates.
These templates can be filled out and inserted into other pages in the
wiki using the directive. The <a href="../../../templates/">templates</a> page lists templates
that can be used with this directive.</p>

<p>The directive has an <code>id</code> parameter
that identifies the template to use. The remaining parameters are used to
fill out the template.</p>

<h2>Example</h2>

<pre><code>[[!template  id=note text=&#34;&#34;&#34;Here is the text to insert into my note.&#34;&#34;&#34;]]
</code></pre>

<p>This fills out the <code>note</code> template, filling in the <code>text</code> field with
the specified value, and inserts the result into the page.</p>

<h2>Using a template</h2>

<p>Generally, a value can include any markup that would be allowed in the wiki
page outside the template. Triple-quoting the value even allows quotes to
be included in it. Combined with multi-line quoted values, this allows for
large chunks of marked up text to be embedded into a template:</p>

<pre><code>    [[!template  id=foo name=&#34;Sally&#34; color=&#34;green&#34; age=8 notes=&#34;&#34;&#34;
    * [[Charley]]&#39;s sister.
    * &#34;I want to be an astronaut when I grow up.&#34;
    * Really 8 and a half.
    &#34;&#34;&#34;]]
</code></pre>

<h2>Creating a template</h2>

<p>The template is a regular wiki page, located in the <code>templates/</code>
subdirectory inside the source directory of the wiki.</p>

<p>(Alternatively, templates can be stored in a directory outside the wiki,
as files with the extension &#34;.tmpl&#34;.
By default, these are searched for in <code>/usr/share/ikiwiki/templates</code>;
the <code>templatedir</code> setting can be used to make another directory be searched
first.)</p>

<p>The template uses the syntax used by the <a href="http://search.cpan.org/search?mode=dist&#38;query=HTML%3A%3ATemplate">HTML::Template</a> perl
module, which allows for some fairly complex things to be done. Consult its
documentation for the full syntax, but all you really need to know are a
few things:</p>

<ul>
<li>Each parameter you pass to the template directive will generate a 
template variable. There are also some pre-defined variables like PAGE
and BASENAME.</li>
<li>To insert the value of a variable, use <code>&#60;TMPL_VAR variable&#62;</code>. Wiki markup
in the value will first be converted to html.</li>
<li>To insert the raw value of a variable, with wiki markup not yet converted
to html, use <code>&#60;TMPL_VAR raw_variable&#62;</code>.</li>
<li>To make a block of text conditional on a variable being set use
<code>&#60;TMPL_IF variable&#62;text&#60;/TMPL_IF&#62;</code>.</li>
<li>To use one block of text if a variable is set and a second if it&#39;s not,
use <code>&#60;TMPL_IF variable&#62;text&#60;TMPL_ELSE&#62;other text&#60;/TMPL_IF&#62;</code></li>
</ul>

<p>Here&#39;s a sample template:</p>

<pre><code>    &#60;span class=&#34;infobox&#34;&#62;
    Name: [[&#60;TMPL_VAR raw_name&#62;]]&#60;br /&#62;
    Age: &#60;TMPL_VAR age&#62;&#60;br /&#62;
    &#60;TMPL_IF color&#62;
    Favorite color: &#60;TMPL_VAR color&#62;&#60;br /&#62;
    &#60;TMPL_ELSE&#62;
    No favorite color.&#60;br /&#62;
    &#60;/TMPL_IF&#62;
    &#60;TMPL_IF notes&#62;
    &#60;hr /&#62;
    &#60;TMPL_VAR notes&#62;
    &#60;/TMPL_IF&#62;
    &#60;/span&#62;
</code></pre>

<p>The filled out template will be formatted the same as the rest of the page
that contains it, so you can include WikiLinks and all other forms of wiki
markup in the template. Note though that such WikiLinks will not show up as
backlinks to the page that uses the template.</p>

<p>Note the use of &#34;raw_name&#34; inside the <a href="../../wikilink/">WikiLink</a> generator in the
example above. This ensures that if the name contains something that might
be mistaken for wiki markup, it&#39;s not converted to html before being
processed as a <a href="../../wikilink/">WikiLink</a>.</p>

</section>





</div>

<footer id="footer" class="pagefooter">

<nav id="pageinfo">




<nav id="backlinks">
Links:

<a href="../edittemplate/">edittemplate</a>

<a href="../pagetemplate/">pagetemplate</a>


</nav>






<div class="pagedate">
Last edited <time datetime="2010-05-06T02:47:37Z">Thu 06 May 2010 10:47:37 AM CST</time>
<!-- Created <time datetime="2010-06-10T20:08:49Z" pubdate="pubdate">Fri 11 Jun 2010 04:08:49 AM CST</time> -->
</div>

</nav>


<!-- from weakish -->
</footer>

</article>

</body>
</html>
