<!DOCTYPE html>
<html lang="{% if lang %}lang{% else %}en{% endif %}">
  <head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>
    <title>{{ page.title }}</title>
  </head>
  <body>
    {{ content }}
    {% comment %}
      Currently we have only one page, so we use `style` instead of a
      separate CSS file.
    {% endcomment %}
    <footer style="background-color: #f0f2f4; color: #333">
      <small>
        Powered by<a href="https://github.com/weakish/weakish.github.com">
        GitHub</a> <a href="http://pages.github.com">Pages</a>.
        {% comment %}
          Hard-coded since there are only one page. If we have more pages, we
          may set `url` in `_config.yaml` and use
              {{ site.url | url_encode }}
          We will not use `/check?uri=referer` since browsers may strip
          information in `referer` header.
        {% endcomment %}
        <a href="http://validator.w3.org/check?uri=https%3A%2F%2Fweakish.github.io">Valid HTML5</a>.
        <a href="http://www.anybrowser.org/campaign/">Viewable with any browser,</a>
        including <a href="https://www.chromium.org/">Chromium</a>
        and <a href="http://w3m.sourceforge.net/">w3m</a>.
      </small>
      <div id="qr-url" style="position: absolute; top: 0px; right: 0px;">
        {% comment %}
          We use hard-coded qr.png since we have only one page now. If we
          have more pages, we may use http://goqr.me/api/doc/ to generate
          qr code instead.

          Wrapping `img` into `p` for `w3m`.
          `display: inline` for other browsers understanding CSS.
        {% endcomment %}
        <p style="display: inline;">
          <img src="/qr.png" alt="QR code of url" title="QR code of url"/>
        </p>
      </div>
    </footer>
  </body>
</html>
