<!DOCTYPE html>
<html lang="{% if lang %}lang{% else %}en{% endif %}">
  <head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>
    <title>{{ page.title }}</title>
  </head>
  <body>
    {{ content }}
    <hr/>
    <div id="footer">
      <small>Powered by <a href="https://github.com/weakish/weakish.github.com">GitHub</a> <a href="http://pages.github.com">Pages</a>.</small>
      {% comment %}
        Currently we have only one page, so we use `style` instead of a
        separate CSS file.
      {% endcomment %}
      <div id="qr-url" style="position: absolute; top: 0px; right: 0px;">
        {% comment %}
          We use hard-coded qr.png since we have only one page now. If we
          have more pages, we may use http://goqr.me/api/doc/ to generate
          qr code instead.
        {% endcomment %}
        <img src="qr.png" alt="QR code of url" title="QR code of url"/>
      </div>
    </div>
  </body>
</html>
